/*---------------- All Page -------------------------- */

/* COLORS TO USE:

Primary:   #57b8ffff  Blue
Secondary: #fbb13cff  Yellow
Accent1:   #fe6847ff  Orange

*/

/* Width for all page */
#content {
    max-width: 1920px;
    margin: 0 auto;
    background-color: white;
}

/*---------------- header -------------------------- */

/* Grid for header */

header {
    background-color: #57b8ffff;
    display: grid;
    grid-template-columns: 150px auto;
}

/* Logo formating */

.logo
{
    width: 80px;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

/* Navigation formating*/

nav {
    display: flex;
    justify-content: space-around;
}

nav a {
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 35px;
    font-family: Arial;
}

nav a:hover {
    /*background-color: #fe6847ff;*/
    color: #fe6847ff;
    text-decoration: underline;
}

/*---------------- Footer -------------------------- */
footer {
    background-color: #fbb13cff;
    padding: 25px 50px;
    color: white;
    font-size: 1em;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: Arial;
}

/* Formating for footer legend*/
footer p { 
    font-size: 1.5em;
    align-items: center;
}

/* Formating for footer link to Site Plan*/
footer a {
    color: white;
    text-decoration: none;
    padding: 25px 50px;
}

footer a:hover{
    color: #fe6847ff;
    text-decoration: underline;
}

/*---------------- Slideshow -------------------------- */
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1920px;
  position: relative;
  margin: auto;
  font-family: Arial;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  /*color: #f2f2f2;*/
  color: black;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  /*color: #f2f2f2;*/
  color: black;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}