main img {
    width: 894px;
}

footer {
    width: 694px;;
    background-color: gray;
    padding: 100px;
}

footer img {
    width: 170px;
    margin: 15px;
    border: 10px solid black;
    border-radius: 50%;
}

body {
    margin: 0
}